

.login {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #6D9BCC;
    padding-bottom: 12%;
}


.login .inputForm{
    align-items: center;
    padding: 30px;
    background-color: #B4F7D9;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}


.login form input{
    margin: 10px;
    border: 1px solid #6D9BCC;
    border-radius:  15px;
    height: 48px;
    font-size: 16px;
    color: #666;
}

.logo {
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
}

