.Register{
    height: 100%;
    width: 100%;
     display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #6D9BCC;
    padding-bottom: 12%;
}

.Register .RegisterForm{
    padding: 30px;
    background-color: #B4F7D9;
    border-radius: 15px;
}

.Register .logoItems{
    padding-left: 25%;
    align-items: center;
    justify-content: center;
}

.Register .inputs{
    padding-left: 35%;
    display: grid;
    grid-template-columns: 150px 150px 180px;
}


.Register form input{
    outline: none;
    margin: 10px;
    border: 1px solid #6D9BCC;
    border-radius:  15px;
    height: 48px;
    font-size: 16px;
    color: #666;    
}

.Register Form .bottom{
    font:bold 24px Helvetica;
    font-style:normal;
    color:#ffffff;
    background:#e20eb2;
    box-shadow:0px 0px 4px #ff00ff;
    -moz-box-shadow:0px 0px 4px #ff00ff;
    -webkit-box-shadow:0px 0px 4px #ff00ff;
    width:250px;
    padding:20px 40px;
    cursor:pointer;
    margin:0 auto;
    }

.bottom:active{
    cursor:pointer;
    position:relative;
    top:2px;
}

.logo {
    align-items: center;
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
}

