.navbar { 
    background-color:rgb(43%, 61%, 80%);
    color: rgb(248, 228, 124);
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

  .navbar .rightBar{
    align-items: center;
    display: flex;
  }

  .navbar .leftBar{

    
  }
  
  .navbar .logo {
    padding: 5px;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
  }

  .navbar .routes {
    padding:10px;
    align-items: flex-start;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 50px 50px 80px;
  }

  .navbar .title{
    justify-self: start;
  }
  
  .navbar input {
    align-items: baseline;
    height: 40px;
    margin: 10px;
  }